@font-face {
    font-family: "Helvetica-Light";
    src: url("../fonts/e89eb1cff9eb261b0d77a4dea27f1ef1.eot");
    src: url("../fonts/e89eb1cff9eb261b0d77a4dea27f1ef1.eot?#iefix") format("embedded-opentype"),
         url("../fonts/e89eb1cff9eb261b0d77a4dea27f1ef1.woff2") format("woff2"),
         url("../fonts/e89eb1cff9eb261b0d77a4dea27f1ef1.woff") format("woff"),
         url("../fonts/e89eb1cff9eb261b0d77a4dea27f1ef1.ttf") format("truetype"),
         url("../fonts/e89eb1cff9eb261b0d77a4dea27f1ef1.svg#HelveticaW01-Light") format("svg");
}

@font-face {
    font-family: "Helvetica-Roman";
    src: url("../fonts/c5bd605b45237a12c99133fa9d7cae49.eot");
    src: url("../fonts/c5bd605b45237a12c99133fa9d7cae49.eot?#iefix") format("embedded-opentype"),
         url("../fonts/c5bd605b45237a12c99133fa9d7cae49.woff2") format("woff2"),
         url("../fonts/c5bd605b45237a12c99133fa9d7cae49.woff") format("woff"),
         url("../fonts/c5bd605b45237a12c99133fa9d7cae49.ttf") format("truetype"),
         url("../fonts/c5bd605b45237a12c99133fa9d7cae49.svg#HelveticaW01-Roman") format("svg"); 
}

body{
    margin: 0;
    background-color: #000000;
    color: #ffffff;
}

/* HEADER Config CSS*/

.menu {
    font-family: Helvetica-Light;
    font-size: 16px;
}
.menu > h1 {
    display: none;
}

.menu > ul {
    list-style: none;
}

.menu > ul > li {
    display: inline-block;
    padding: 10px;
}

.menu > ul > li > a {
    text-decoration: none;
    color: #ffffff;
}

.menu > ul > li > a:hover {
    color: #bc915c;
}

.banner-logo {
    display: flex;
    background-color: #ad6100;
}

.image-primary {
    width: 50%;
    padding: 10px;
}

.image-primary > img {
    width: 150px;
}

.image-secondary {
    width: 50%;
    padding: 10px;
    text-align: right;
}

.image-secondary > img {
    width: 200px;
}

.bio {
    padding: 20px;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.bio > h1 {
    font-weight: 400px;
    font-size: 36px;
    font-weight: bolder;
    font-family: Helvetica-Roman, sans-serif;
}

.bio > p {
    font-weight: 400px;
    font-size: 20px;
    font-family: Helvetica-Light, sans-serif;
}

.home {
    margin-top: 80px;
}

.members {
    padding: 50px;
    margin: 50px;
    display: flex;
}

.member {
    text-align: center;
    width: 30%;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    transition: 1000ms;

}

.member > h2 {
    font-size: 16px;
}

.member > h1 {
    font-size: 20px;
    margin-top: -10px;
}

.member:hover {
    cursor: pointer;
    background-color: #ad6100;
    border-radius: 20px;
}